# Azure Cosmos DB
COSMOS_ENDPOINT=""
COSMOS_KEY=""
COSMOS_DATABASE=""
COSMOS_USERS_CONTAINER=""
COSMOS_SESSIONS_CONTAINER=""
COSMOS_FEEDBACK_CONTAINER=""
COSMOS_PROVIDERS_CONTAINER=""
COSMOS_MODELS_CONTAINER=""
# Auth
JWT_SECRET_KEY=""
ACCESS_TOKEN_EXPIRE_MINUTES=720

# Admin bootstrap
ADMIN_USER_ID=""
ADMIN_NAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# Seed configuration
SEED_MOCK_RESULTS=true




# Azure
GLOBAL_LLM_SERVICE=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=""
AZURE_OPENAI_TEXT_DEPLOYMENT_NAME=""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=""
AZURE_OPENAI_API_VERSION=""


# AZURE_AI_AGENT_PROJECT_CONNECTION_STRING = ""
AZURE_AI_PROJECT_ENDPOINT = ""
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME = ""
AZURE_AI_AGENT_SUBSCRIPTION_ID = ""
AZURE_AI_AGENT_RESOURCE_GROUP_NAME = ""
AZURE_AI_AGENT_PROJECT_NAME = ""

# Frontend
FRONTEND_URL=""

# Production
PRODUCTION=false

# ---- Storage (Blob) ----
AZURE_STORAGE_CONNECTION_STRING=""
BLOB_CONTAINER_NAME=""

# ---- Azure AI Search ----
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_ADMIN_KEY=""
AZURE_SEARCH_INDEX_NAME=""
AZURE_SEARCH_CONNECTION_ID=""
# AZURE_SEARCH_INDEXER_NAME=""



AZURE_OPENAI_EMBED_DIMS="1536"

APP_ENV="dev"

# ---- Azure Document Intelligence ----
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=""
AZURE_DOCUMENT_INTELLIGENCE_KEY=""
AZURE_DOCUMENT_INTELLIGENCE_API_VERSION=""

# ---- Misc ----
# ---- Misc ----
AZURE_AI_AGENT_DEFAULT_NAME=""
AZURE_AI_DEFAULT_MEMORY_STORE_NAME=""

