# Azure Cosmos DB
COSMOS_ENDPOINT="<COSMOS_DB_ENDPOINT>"
COSMOS_KEY="<COSMOS_DB_KEY>"
COSMOS_DATABASE="<COSMOS_DB_NAME>"
COSMOS_USERS_CONTAINER="users"
COSMOS_SESSIONS_CONTAINER="sessions"
COSMOS_FEEDBACK_CONTAINER="feedback"
COSMOS_PROVIDERS_CONTAINER="providers"
COSMOS_MODELS_CONTAINER="models"
COSMOS_MOCK_RESULTS_CONTAINER="mock-results"

# Auth
JWT_SECRET_KEY="super-secret-key"
ACCESS_TOKEN_EXPIRE_MINUTES=720

# Admin bootstrap
ADMIN_USER_ID="admin"
ADMIN_NAME="Admin User"
ADMIN_EMAIL="admin@aicoscientist.com"
ADMIN_PASSWORD="Admin@123"

# Seed configuration
SEED_MOCK_RESULTS=true




# Azure
GLOBAL_LLM_SERVICE="AzureOpenAI"
AZURE_OPENAI_API_KEY="<AZURE_OPENAI_API_KEY>"
AZURE_OPENAI_ENDPOINT="<AZURE_OPENAI_ENDPOINT>"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="<AZURE_OPENAI_CHAT_DEPLOYMENT_NAME>"
AZURE_OPENAI_TEXT_DEPLOYMENT_NAME="<AZURE_OPENAI_TEXT_DEPLOYMENT_NAME>"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="<AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME>"
AZURE_OPENAI_API_VERSION="<AZURE_OPENAI_API_VERSION>"


AZURE_AI_AGENT_PROJECT_CONNECTION_STRING="<AZURE_AI_AGENT_PROJECT_CONNECTION_STRING>"
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME="<AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME>"
AZURE_AI_AGENT_ENDPOINT="<AZURE_AI_AGENT_ENDPOINT>"
AZURE_AI_AGENT_SUBSCRIPTION_ID="<AZURE_AI_AGENT_SUBSCRIPTION_ID>"
AZURE_AI_AGENT_RESOURCE_GROUP_NAME="<AZURE_AI_AGENT_RESOURCE_GROUP_NAME>"
AZURE_AI_AGENT_PROJECT_NAME="<AZURE_AI_AGENT_PROJECT_NAME>"
PUBMED_API_KEY="<PUBMED_API_KEY>"