fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic[email]
pydantic-settings
python-jose
passlib
azure-identity
azure-cosmos
azure-storage-blob
azure-ai-documentintelligence
azure-search-documents
azure-ai-projects
openai
langchain-text-splitters
python-multipart
httpx